<section id="search" class="search-container">
  <div class="part">
    <input
      (keyup.enter)="
        searchBooks(
          searchQuery.value,
          filter.value,
          +minPriceInput.value,
          +maxPriceInput.value
        )
      "
      type="text"
      id="searchInput"
      placeholder="Search books..."
      #searchQuery
    />

    <select id="filterDropdown" #filter>
      <option class="option" value="title">Title</option>
      <option class="option" value="author">Author</option>
    </select>
  </div>
  <div class="part">
    <div class="price-search">
      <label for="minPrice">Min Price:</label>
      <input type="number" id="minPrice" min="0" step="1" #minPriceInput />
    </div>
  </div>
  <div class="part">
    <div class="price-search">
      <label for="maxPrice">Max Price:</label>
      <input type="number" id="maxPrice" min="0" step="1" #maxPriceInput />
    </div>
  </div>
  <div class="part">
    <button
      (click)="
        searchBooks(
          searchQuery.value,
          filter.value,
          +minPriceInput.value,
          +maxPriceInput.value
        )
      "
    >
      Search
    </button>
  </div>
</section>

<div class="books-list">
  <div
    *ngFor="let book of books.slice(booksFirstIndex, booksLastIndex)"
    class="book"
  >
    <img
      class="book-img"
      src="{{ book.coverImage }}"
      alt=""
      routerLink="/book/{{ book.id }}"
    />
    <h2 class="title">{{ book.title }}</h2>
    <p class="author">By {{ book.author }}</p>
    <p class="price">{{ book.price | currency }}</p>
  </div>
</div>

<section class="search-container">
  <div class="text">Pages</div>
  <button
    *ngIf="prevButtonActive"
    class="navigation-button"
    (click)="prevPage()"
  >
    Prev
  </button>
  <button class="navigation-button" (click)="goToPage(+1)">1</button>
  <button class="navigation-button" (click)="goToPage(+2)">2</button>
  <button class="navigation-button" (click)="goToPage(+3)">3</button>
  <button
    *ngIf="nextButtonActive"
    class="navigation-button"
    (click)="nextPage()"
  >
    Next
  </button>
</section>
