<header class="header">
  <img
    class="cart-pic"
    src="./images/serge-kutuzov-HCBmCsaF0GY-unsplash.jpg"
    alt=""
  />
  <h1 class="title">Book store</h1>
  <img
    class="logo-pic"
    src="./images/serge-kutuzov-HCBmCsaF0GY-unsplash.jpg"
    alt=""
  />

  <button class="button" (click)="navugateTo('/signin')">Sign in</button>
  <button class="button" (click)="navugateTo('/signup')">Sing up</button>
</header>
<div class="main-pic">
  <img
    src="./images/manny-becerra-0sihmMSmnoE-unsplash.jpg"
    alt=""
    class="main-pic"
  />
</div>
