<header class="header">
  <!-- <img
    class="cart-pic"
    src="./images/serge-kutuzov-HCBmCsaF0GY-unsplash.jpg"
    alt=""
  /> -->
  <h1 class="title"></h1>
  <!-- <img
    class="logo-pic"
    src="./images/serge-kutuzov-HCBmCsaF0GY-unsplash.jpg"
    alt=""
  /> -->

  @if(authService.user) {
  <div class="username">
    {{ authService.user.name }} {{ authService.user.lastName }}
  </div>
  <button class="button" (click)="navugateTo('/profile')">Profile</button>
  <button class="button" (click)="authService.logOut()">Sign out</button>
  }@else {
  <div>
    <button class="button" (click)="navugateTo('/cart')">Cart</button>
    <button class="button" (click)="navugateTo('/signin')">Sign in</button>
    <button class="button" (click)="navugateTo('/signup')">Sing up</button>
  </div>
  }
</header>
<div class="main-pic header">
  <img class="mainWebPic-img" src="{{ mainWebPic }}" alt="" />
</div>
