.container {
  background-color: rgba(
    135,
    47,
    62,
    0.3
  ); /* Updated rgba() for proper transparency */
  background-color: whitesmoke;

  width: 100%;
  box-sizing: border-box;
  @media screen and (max-width: 830px) {
    background-color: whitesmoke;
    .book-info {
      border: none;
    }
  }
}

.book-details {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.book-img {
  max-width: 100%;
  height: 28rem;
  width: 30rem;
}

.book-info {
  padding: 0 20px;
  /* border: 1px solid #ccc;
  border-radius: 8px; */
  background-color: #f9f9f9;
  height: 80%;
  width: 100%;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.author {
  font-style: italic;
}

.price {
  font-size: 1.4rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 0.25rem;
}

.button-container {
  display: flex;
  gap: 15px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

button {
  padding: 12px 24px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  color: yellow;
}

.description {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}

@media screen and (max-width: 820px) {
  @media screen and (max-width: 770px) {
  }
  .book-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  @media screen and (max-width: 770px) {
    .book-details {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .book-img {
      width: 100%;
      max-width: 100%;
      height: auto;
      height: 100%;
    }
  }

  .book-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    height: 400px;
    margin-top: 20px;
  }

  .book-info {
    width: 400px;
    margin-top: 20px;
    height: 100%;
  }

  @media screen and (max-width: 602px) {
    .book-info {
      width: 100%;
      max-width: 400px;
      height: 100%;
    }

    .book-img {
      width: 100%;
      max-width: none;
      height: auto;
      height: 100%;
    }
  }
}
