<div class="container">
  <div class="book-details">
    <div>
      <img
        class="book-img"
        [src]="book.coverImage"
        alt="Getting More Cover Image"
      />
    </div>
    <div class="book-info">
      <h2 class="title">Getting More</h2>
      <p class="author">{{ book.author }}</p>
      <p class="price">{{ book.price * discount | currency }}</p>
      <p class="description">
        {{ book.summary }}
      </p>
      <p><strong>Pages:</strong> {{ book.pages }}</p>
      <p><strong>Published Date:</strong> {{ book.publishedDate }}</p>
      <p><strong>Language:</strong> {{ book.language }}</p>
      <p><strong>Dimensions:</strong> {{ book.dimentions }}</p>

      <div class="button-container">
        <button (click)="addToCart(false)">Add to Cart</button>
        <button (click)="addToCart(true)">Buy Now</button>
      </div>
    </div>
  </div>
</div>
