.container {
  background-color: rgb(135, 47, 62, 0.3);
  width: 100%;
  /* padding: 20px; */
  box-sizing: border-box;
}

.book-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* gap: 20px; */
  max-width: 1200px;
  margin: 0 auto;
}

.book-img {
  max-width: 100%;
  height: 28.5rem;
  width: 30rem;
  /* border-radius: 8px; */
  /* height: 100vh; */
}

.book-info {
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  /* height: 30rem; */
  height: fit-content;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.author {
  font-style: italic;
  /* margin-bottom: 10px; */
}

.price {
  font-size: 1.4rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 0.25rem;
}

/* .description {
  margin-bottom: 20px;
} */

.button-container {
  display: flex;
  gap: 15px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

button {
  padding: 12px 24px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  color: yellow;
}

@media screen and (max-width: 602px) {
  .book-details {
    grid-template-columns: 1fr;
  }

  .book-img {
    margin: 0 auto;
  }
}
