<ul>
  <li *ngFor="let cartItem of cart.Items">
    <div>
      <img [src]="cartItem.book.coverImage" [alt]="cartItem.book.title" />
    </div>
    <div>
      <a routerLink="/book/{{ cartItem.book.id }}"
        ><h2>{{ cartItem.book.title }}</h2></a
      >
    </div>
    <div>
      <label for="quantitySelect">Amount: </label>
      <input
        type="number"
        id="quantitySelect"
        min="1"
        step="1"
        [value]="1"
        #quantityInput
        name=""
        (change)="changeQuantity(cartItem, +quantityInput.value)"
      />
    </div>
  </li>
</ul>
