@if (cart.totalPrice>0) {

<div class="cart-page">
  <div class="container">
    <div class="">
      <ul class="items">
        <li *ngFor="let cartItem of cart.Items">
          <div class="item">
            <img
              [src]="cartItem.book.coverImage"
              [alt]="cartItem.book.title"
              routerLink="/book/{{ cartItem.book.id }}"
            />
          </div>
          <div class="item">
            <a routerLink="/book/{{ cartItem.book.id }}"
              ><h1>{{ cartItem.book.title }}</h1></a
            >
          </div>
          <div class="quantity item">
            <label for="quantitySelect">Quantity : </label>
            <input
              type="number"
              id="quantitySelect"
              min="1"
              step="1"
              [value]="cartItem.quantity"
              #quantityInput
              name=""
              (change)="changeQuantity(cartItem, +quantityInput.value)"
            />
          </div>

          <div>
            <p class="price item">
              {{
                cartItem.book.price * +quantityInput.value * discount | currency
              }}
            </p>
          </div>
          <div>
            <button
              class="remove-button item"
              (click)="removeFromCart(cartItem)"
            >
              Remove
            </button>
          </div>
        </li>
      </ul>
    </div>

    <div class="checkout">
      <div class="books-count">Count :{{ cart.totalItems }}</div>
      <div class="total-price">
        Total Price :{{ (cart.totalPrice * discount).toFixed(2) | currency }}
      </div>
    </div>
  </div>
</div>
} @else {

<div class="cart-page">
  <div class="container-cart-empty">
    <h2 class="text-empty-cart">Your cart is empty</h2>
  </div>
</div>
}
