h1 {
  text-align: center;
  color: blueviolet;
}

.cart-page {
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: blue;
}

.quantity,
input {
  font-size: 1.3rem;
  font-weight: bold !important;
  color: green;
}

ul li img {
  width: 6rem;
  height: 10rem;
  object-fit: cover;
  cursor: pointer;
  @media screen and (max-width: 720px) {
    display: none;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: column;
  flex: 3 0;
  justify-content: space-evenly;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

ul li div {
  padding: 1rem;
}

ul li input {
  width: 6rem;
  outline: none;
  border: none;
  text-align: center;
}

ul .remove-button {
  border: none;
  padding: 0.5rem;
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  outline: none;
}
ul .remove-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;

  align-items: center;
  height: 100%;

  padding: 0.5rem;
  margin: 0.5rem;
}

.checkout > .books-count {
  margin-bottom: 1.5rem;
}

.books-count,
.total-price {
  font-size: 2rem !important;
  font-weight: bold;
  color: blue;
  text-align: center;
}

.container-cart-empty {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.text-empty-cart {
  font-size: 24px;
  color: blueviolet;
  margin: 0;
  font-weight: bold;
  font-size: 3rem;
  padding: 20%;
}

h1,
.price,
.quantity,
input,
.remove-button {
  @media screen and (max-width: 970px) {
    font-size: 1.2rem !important;
  }
  @media screen and (max-width: 940px) {
    font-size: 1rem !important;
  }
  @media screen and (max-width: 640px) {
    width: 33vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 340px) {
    width: 100vw;
  }
}

.items li {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  @media screen and (max-width: 640px) {
    display: flex;
    justify-content: center;
    align-items: center;
    .item {
      margin: unset !important;
      padding: unset !important;
    }
  }
}
