<h1>{{ user?.name }} {{ user?.lastName }} Profile</h1>
<div class="profile-container">
  <div class="profile-details" *ngIf="!isEditing">
    <div class="detail">
      <span class="label">Name:</span>
      <span class="value">{{ authService.user?.name }}</span>
    </div>
    <div class="detail">
      <span class="label">Last Name:</span>
      <span class="value">{{ authService.user?.lastName }}</span>
    </div>
    <div class="detail">
      <span class="label">Username:</span>
      <span class="value">{{ authService.user?.username }}</span>
    </div>
    <div class="detail">
      <span class="label">Email:</span>
      <span class="value">{{ authService.user?.email }}</span>
    </div>
    <div class="detail">
      <span class="label">Age:</span>
      <span class="value">{{ authService.user?.age }}</span>
    </div>
    <div class="detail">
      <span class="label">Address:</span>
      <span class="value">{{ authService.user?.address }}</span>
    </div>
    <div class="detail">
      <span class="label">Phone Number:</span>
      <span class="value">{{ authService.user?.phoneNumber }}</span>
    </div>
    <div class="button-container">
      <button class="edit-button" (click)="editProfile()">Edit Profile</button>
      <button class="save-button" *ngIf="isEditing" (click)="saveProfile()">
        Save
      </button>
    </div>
  </div>
  <form
    [formGroup]="editForm"
    (ngSubmit)="saveChanges()"
    *ngIf="isEditing"
    class="profile-details"
  >
    <div class="form-group detail">
      <label for="name" class="label">Name:</label>
      <input
        id="name"
        type="text"
        class="form-control value"
        formControlName="name"
        placeholder="Enter Name"
      />
    </div>
    <div class="form-group detail">
      <label for="lastname" class="label">Last Name:</label>
      <input
        id="lastname"
        type="text"
        class="form-control value"
        formControlName="lastname"
        placeholder="Enter Last Name"
      />
    </div>
    <div class="form-group detail">
      <label for="username" class="label">Username:</label>
      <input
        id="username"
        type="text"
        class="form-control value"
        formControlName="username"
        placeholder="Enter username"
      />
    </div>
    <div class="form-group detail">
      <label for="email" class="label">Email:</label>
      <input
        id="email"
        type="email"
        class="form-control value"
        formControlName="email"
        placeholder="Enter Email"
      />
    </div>
    <div class="form-group detail">
      <label for="age" class="label">Age:</label>
      <input
        id="age"
        type="number"
        class="form-control value"
        formControlName="age"
        placeholder="Enter Age"
      />
    </div>
    <div class="form-group detail">
      <label for="address" class="label">Address:</label>
      <input
        id="address"
        type="text"
        class="form-control value"
        formControlName="address"
        placeholder="Enter Address"
      />
    </div>
    <div class="form-group detail">
      <label for="phone" class="label">Phone Number:</label>
      <input
        id="phone"
        type="tel"
        class="form-control value"
        formControlName="phoneNumber"
        placeholder="Enter Phone Number"
      />
    </div>
    <div class="button-container">
      <button
        class="submit-button save-button"
        type="submit"
        [disabled]="editForm.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
