<form [formGroup]="editForm" (ngSubmit)="saveChanges()" *ngIf="false">
  <div class="form-group">
    <label for="name">Name:</label>
    <input
      id="name"
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="Enter Name"
    />
    <div
      *ngIf="editForm.get('name')?.invalid && editForm.get('name')?.touched"
      class="error-message"
    >
      Please enter a Name
    </div>
  </div>

  <div class="form-group">
    <label for="lastname">Last Name:</label>
    <input
      id="lastname"
      type="text"
      class="form-control"
      formControlName="lastname"
      placeholder="Enter Last Name"
    />
    <div
      *ngIf="
        editForm.get('lastname')?.invalid && editForm.get('lastname')?.touched
      "
      class="error-message"
    >
      Please enter a Last Name
    </div>
  </div>

  <div class="form-group">
    <label for="username">Username:</label>
    <input
      id="username"
      type="text"
      class="form-control"
      formControlName="username"
      placeholder="Enter username"
    />
    <div
      *ngIf="
        editForm.get('username')?.invalid && editForm.get('username')?.touched
      "
      class="error-message"
    >
      Please enter a username
    </div>
  </div>

  <button class="submit-button" type="submit" [disabled]="editForm.invalid">
    Submit
  </button>
</form>
<div class="profile-container">
  <h1>{{ user?.name }} {{ user?.lastName }} Profile</h1>
  <div class="profile-details">
    <div class="detail">
      <span class="label">Name:</span>
      <span class="value">{{ user?.name }}</span>
    </div>
    <div class="detail">
      <span class="label">Last Name:</span>
      <span class="value">{{ user?.lastName }}</span>
    </div>
    <div class="detail">
      <span class="label">Username:</span>
      <span class="value">{{ user?.username }}</span>
    </div>
    <div class="detail">
      <span class="label">Email:</span>
      <span class="value">{{ user?.email }}</span>
    </div>

    <div class="detail">
      <span class="label">Age:</span>
      <span class="value">{{ user?.age }}</span>
    </div>
    <div class="detail">
      <span class="label">Address:</span>
      <span class="value">{{ user?.address }}</span>
    </div>
    <div class="detail">
      <span class="label">Phone Number:</span>
      <span class="value">{{ user?.phoneNumber }}</span>
    </div>
    <div class="button-container">
      <button class="edit-button" (click)="editProfile()">Edit Profile</button>
      <button class="save-button" *ngIf="isEditing" (click)="saveProfile()">
        Save
      </button>
    </div>
  </div>
</div>
