.container {
  background-color: rgb(135, 47, 62, 0.3);
  width: 100vw !important;
  height: 100vh !important;
  margin: auto;
}
form {
  border: 1px solid lightcoral;
  background-color: aqua;
  width: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* margin-top: 20px; */
  border-radius: 10px;
}

form div {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-right: 10px;
  width: 100px;
}

input[type="text"],
input[type="password"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
}

.error-message {
  color: red;
  font-size: 14px;
}

.submit-button {
  background-color: lightgreen;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  /* cursor: pointer; */
  font-size: 16px;
}

.submit-button:active {
  background-color: limegreen;
  color: yellow;
}
