@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  /* background-color: aqua; */
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 16px;
}

button,
input {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ul {
  list-style: none;
}
