<!-- <div *ngFor="let book of books">
  <h2>{{ book.title }}</h2>
  <p>Author: {{ book.author }}</p>
  <p>Price: {{ book.price }}</p>
  <p>Pages: {{ book.pages }}</p>
</div> -->

@for (book of books; track $index) {
<div class="cart-page">
  <div class="container">
    <div class="">
      <ul class="items">
        <li *ngFor="let cartItem of cart.Items">
          <div class="item">
            <img
              [src]="cartItem.book.coverImage"
              [alt]="cartItem.book.title"
              routerLink=""
            />
          </div>
          <div class="item">
            <a routerLink=""
              ><h1>{{ cartItem.book.title }}</h1></a
            >
          </div>
          <div class="quantity item">
            <label for="quantitySelect">Quantity : </label>
            <input
              type="number"
              id="quantitySelect"
              min="1"
              step="1"
              [value]="cartItem.quantity"
              #quantityInput
              name=""
            />
          </div>

          <div>
            <p class="price item">
              {{ cartItem.book.price * +quantityInput.value }}
            </p>
          </div>
          <div>
            <button class="remove-button item">Remove</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
}
